@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#003973,#E5E5BE);
    --background: 223 100% 98.46%;
    --foreground: 223 10% 0.92%;

    --muted: 223 10% 92.3%;
    --muted-foreground: 223 5% 42.3%;

    --popover: 223 10% 92.3%;
    --popover-foreground: 223 10% 1.1500000000000001%;

    --card: 223 10% 92.3%;
    --card-foreground: 223 10% 1.1500000000000001%;

    --border: 223 15% 89.92%;
    --input: 223 15% 89.92%;

    --primary: 223 100% 23%;
    --primary-foreground: 223 2% 92.3%;

    --secondary: 223 5% 96.15%;
    --secondary-foreground: 223 7% 12.3%;

    --accent: 223 5% 96.15%;
    --accent-foreground: 223 7% 12.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 223 100% 23%;

    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#00dbde,#fc00ff);

    --background: 192 65% 3.52%;
    --foreground: 192 10% 97.2%;

    --muted: 192 50% 13.2%;
    --muted-foreground: 192 10% 54.4%;

    --popover: 192 45% 5.72%;
    --popover-foreground: 192 10% 97.2%;

    --card: 192 45% 5.72%;
    --card-foreground: 192 10% 97.2%;

    --border: 192 50% 13.2%;
    --input: 192 50% 13.2%;

    --primary: 192 100% 44%;
    --primary-foreground: 192 10% 97.2%;

    --secondary: 192 50% 13.2%;
    --secondary-foreground: 192 10% 97.2%;

    --accent: 192 50% 13.2%;
    --accent-foreground: 192 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 192 10% 97.2%;

    --ring: 192 100% 44%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.15) rgba(0,0,0,0.0); /* scroll thumb and track */
}
.scrollbar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0,0,0,0.15);
  margin: 0;
}
*::-webkit-scrollbar-button:vertical:decrement {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-button:vertical:increment {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  min-height: 32px;
  background: #999999;
  border-radius: 2px;
  background-clip: content-box;
}
